/* HEADER */

.header {
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  margin-bottom: 30px;

  &-title {
    font-size: 40px;
  }
}

/* MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
}

.btn {
  padding: 10px 15px;
  border-radius: 12px;
  font-size: 28px;
  font-weight: 700;
  color: $dark;
  min-width: 100px;
  background-color: lightgrey;
  transition: background-color 0.25s;
  border: 2px $grey solid;

  &:hover {
    background-color: rgba(211, 211, 211, 0.806);
  }

  &:focus {
    outline: $blue 1px solid;
  }
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 900px;
  margin-bottom: 30px;
  gap: 20px;
}

.marker-type {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.active-type {
  border: 2px $black solid;
  box-shadow: -1px 7px 22px -6px grey;
}

.range-block {
  user-select: none;
}

.range-slider {
  margin-top: 5px;
  height: 2px;
}

.grid-size {
  font-size: 24px;
  text-align: center;
  font-weight: 700;
}

.game-grid {
  margin-top: 40px;
  display: grid;
  gap: 10px;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}

.grid-cell {
  display: flex;
  align-items: center;
  justify-content: center;
  container: card / size;
  font-size: 5cqw;
  font-weight: 700;
  padding: 20px;
  color: $dark;
  border-radius: 6px;
  background: rgb(255, 255, 255);
  box-shadow: 4px 4px $grey;
  border: 1px solid lightgrey;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: rgb(234, 234, 234);
  }
}

.hide {
  visibility: hidden;
}

// Results section

.results {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 50px;
  width: 80%;

  &-block {
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.1);

    &__name {
      font-size: 1.3em;
      font-weight: 700;
      line-height: 15px;
    }

    &__score {
      font-size: 1.5em;
      font-weight: 700;
      line-height: 25px;
    }
  }
}

// Result modal

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.3);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  opacity: 1;
  visibility: visible;
  width: 100%;
  height: 100%;

  &.hide {
    visibility: hidden;
    opacity: 0;
    z-index: -1;
  }
}

.result-modal {
  z-index: 10;
  position: fixed;
  top: 50%;
  left: 50%;
  background: $dark;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  padding: 40px 0;
  display: grid;
  gap: 20px;

  &.hide {
    visibility: hidden;
  }
}

.result-modal__title {
  font-size: 2em;
  font-weight: 600;
}

.result-modal__winner {
  font-size: 1.55em;
}

.result-modal__brief {
  font-size: 2em;
  font-weight: 600;
}

.result-modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
}

/* FOOTER */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
  gap: 10px;
  color: $white;
}

.nickname {
  font-size: 20px;
  color: $darkBlue;
  margin-right: 5px;

  &:hover {
    color: $white;
  }
}

.github-icon {
  animation: blinking 5s infinite alternate;
  border-radius: 50%;
  cursor: pointer;

  &:hover {
    box-shadow: 0 0 15px 2px $darkBlue;
  }
}

/* MEDIA QUERIES */

/* ANIMATIONS */

@keyframes blinking {
  from {
    fill: $black;
  }
  to {
    fill: $white;
    box-shadow: 0 0 15px 5px $darkBlue;
  }
}
