$main: rgba(28, 32, 35, 1);
$dark-gradient: linear-gradient(180deg, #30373f 0%, #000000 99.82%);
$dark: rgba(48, 55, 63, 1);
$violet: rgba(136, 86, 217, 1);
$sea: rgba(169, 199, 199, 1);
$grey: rgba(140, 150, 160, 1);
$orange: rgba(255, 65, 54, 1);
$red: rgba(181, 61, 61, 1);
$blue: #418ec6;
$yellow: rgb(164, 162, 48);
$green: rgb(51, 188, 17);
$darkBlue: rgb(81 93 231);
$white: #fff;
$black: #000;
